<div class="row nav-top-buffer">
  <!-- Nav Options -->
  <div class="col-md-10">
    <div class="col-md-2 navigation-link"><a href="/QTSurvey/surveys">Surveys</a></div>
    <div class="col-md-2 navigation-link"><a href="/QTSurvey/analytics">Analytics</a></div>
    <div class="col-md-2 navigation-link"><a href="/QTSurvey/subjects">Subjects</a></div>
  </div>
  <!-- Button -->
  <div class="col-md-2">
    <button class="btn btn-primary btn-block custom-button" onclick="location.href = '/QTSurvey/create';">Create New Survey</button>
  </div>
</div>

<script>

</script>
