<div class="registration-box">
  <form method = "POST" action = "" name="form-register">
    <!-- Error messages for invalid form submission -->
    {% if userForm.errors or demographicsForm.errors %}
      <ul id="form-errors">
        {% for field in userForm %}
          {% for error in field.errors %}
            <li style="color: red;">{{ field.name }}: {{error|escape }}</li>
          {% endfor %}
        {% endfor %}

        {% for field in demographicsForm %}
          {% for error in field.errors %}
            <li style="color: red;">{{ field.name }}: {{error|escape }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}

  	{% csrf_token %}
  	<input type="text" class="form-control login-form" id="user" placeholder="username" name="username">
    <input type="text" class="form-control registration-form" id="email-address" placeholder="email" name = "email">
    <input type="password" class="form-control registration-form" id="password1" placeholder="password" name = "password">
    <input type="password" class="form-control registration-form" id="password2" placeholder="verify password">
    <input type="text" class="form-control registration-form" id="first-name" placeholder="first name" name = first_name>
    <input type="text" class="form-control registration-form" id="last-name" placeholder="last name" name = last_name>
    <input type="text" class="form-control registration-form" id="phone-number" placeholder="phone number (ex. 555-555-5555)" name = phone>
    <input placeholder="date of birth" class="form-control registration-form" id="date-of-birth" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name = dob>
    <button type="submit" class="btn btn-primary btn-block custom-button registration-form">register</button>
    <div class="login-register-forgot">
      <a href="/login">Back to login</a><br>
    </div>
  </form>
</div>
