<form action="" method = "POST" name = "researcher-invite">
  {% csrf_token  %}
  {% for survey in researcherInvite %}
    <tr>
      <td class="custom-text">{{ survey.title }}</td>
      <td class="custom-text">{{ survey.id }}</td>
      <td class="custom-text">{{ survey.participants }}</td>
      <td class="custom-text"><input type="checkbox" value={{survey.id}} name="checks" id={{survey.id}} /> </td>
    </tr>
  {% endfor %}
    <tr>
      <td class="custom-text"></td>
      <td class="custom-text"></td>
      <td class="custom-text"></td>
      <td class="custom-text"><button class="btn btn-primary btn-block custom-button" type="submit" value="Submit">Invite</button></td>
    </tr>
</form>
