{% if page == "researcher_surveys" %}
  {% for survey in researcherSurveys %}
    <tr>
      <td class="custom-text">{{ survey.id }}</td>
      <td class="custom-text">{{ survey.title }}</td>
      <td class="custom-text">{{ survey.participants }}</td>
      <td class="custom-text">{{ survey.distribution }}</td>
      <td><button class="btn btn-primary btn-block custom-button">Edit</button></td>
      <td><button class="btn btn-primary btn-block custom-button">Delete</button></td>
    </tr>
  {% endfor %}

{% elif page == "researcher_analytics" %}
  {% for survey in researcherSurveys %}
    <tr>
      <td class="custom-text">{{ survey.id }}</td>
      <td class="custom-text">{{ survey.title }}</td>
      <td class="custom-text">{{ survey.participants }}</td>
      <td class="custom-text">{{ survey.distribution }}</td>
      <td><button class="btn btn-primary btn-block custom-button" onclick="location.href = '/viewresults/{{ survey.id }}';">View Results</button></td>
      <td><button class="btn btn-primary btn-block custom-button">Run Analytics</button></td>
    </tr>
  {% endfor %}

{% elif page == "researcher_subjects" %}
  {% for subject in researcherSubjects %}
    <tr>
      <td class="custom-text">{{ subject.userID.id }}</td>
      <td class="custom-text">{{ subject.first_name|add:" "|add:subject.last_name }}</td>
      <td class="custom-text">{{ subject.age }}</td>
      <td class="custom-text">{{ subject.phone }}</td>
      <td class="custom-text">{{ subject.email }}</td>
      <td><button class="btn btn-primary btn-block custom-button">View Profile</button></td>
      <td><button class="btn btn-primary btn-block custom-button">Contact</button></td>
      <td><button class="btn btn-primary btn-block custom-button" onclick = "location.href = '/invite/{{subject.userID.id}}';">Invite</button></td>
    </tr>
  {% endfor %}
  
{% elif page == "researcher_invite" %}
<tr>
<td class="custom-text">{{ userid.first_name }}</td>
<td class="custom-text">{{ userid.last_name }}</td>
<td class="custom-text">{{ userid.id }}</td>
</tr>

<form action="" method = "POST" name = "researcher-invite">
{% csrf_token  %}
  {% for survey in researcherInvite %}
   <tr>
      <td class="custom-text">{{ survey.id }}</td>
      <td class="custom-text">{{ survey.title }}</td>
      <td class="custom-text">{{ survey.participants }}</td>
      <td class="custom-text"><input type="checkbox" value={{survey.id}} name="checks" id={{survey.id}} /> </td>
    </tr>
  {% endfor %}
  <tr>
  <td class="custom-text"></td>
  <td class="custom-text"></td>
  <td class="custom-text"></td>
  <td class="custom-text"><input style ="float:right;background-color:black;"type="submit" value="Submit"></td>
  </tr>
  </form>

{% elif page == "subject_available_surveys" %}
  {% for survey in subjectAvailableSurveys %}
    <tr>
      <td class="custom-text">{{ survey.id }}</td>
      <td class="custom-text">{{ survey.title }}</td>
      <td class="custom-text">{{ survey.distribution }}</td>
      <td><button class="btn btn-primary btn-block custom-button">View Details</button></td>
      <td><button class="btn btn-primary btn-block custom-button" onclick="location.href = '/takesurvey/{{ survey.id }}';">Take Survey</button></td>
    </tr>
  {% endfor %}

{% elif page == "subject_completed_surveys" %}
  {% for survey in subjectCompletedSurveys %}
    <tr>
      <td class="custom-text">{{ survey.id }}</td>
      <td class="custom-text">{{ survey.title }}</td>
      <td class="custom-text">{{ survey.distribution }}</td>
      <td><button class="btn btn-primary btn-block custom-button" onclick="location.href = '/viewresponse/{{ survey.id }}';">My Response</button></td>
    </tr>
  {% endfor %}
{% endif %}
