{% if page == "researcher_surveys" %}
  <th class="custom-text">ID</th>
  <th class="custom-text">Title</th>
  <th class="custom-text">Participants</th>
  <th class="custom-text">Invite Only</th>
  <th class="custom-text">Needs Consent Form</th>
  <th class="custom-text"></th>

{% elif page == "researcher_analytics" %}
  <th class="custom-text">ID</th>
  <th class="custom-text">Title</th>
  <th class="custom-text">Participants</th>
  <th class="custom-text">Invite Only</th>
  <th class="custom-text">Needs Consent Form</th>
  <th class="custom-text"></th>
  <th class="custom-text"></th>

{% elif page == "researcher_subjects" %}
  <th class="custom-text">ID</th>
  <th class="custom-text">Name</th>
  <th class="custom-text">Age</th>
  <th class="custom-text">Phone</th>
  <th class="custom-text">Email</th>
  <th class="custom-text"></th>

{% elif page == "researcher_invite" %}
  <th class="custom-text">Please select the surveys you would like to invite {{ userid.first_name|add:" "|add:userid.last_name }} to participate in</th>
  <th class="custom-text">ID</th>
  <th class="custom-text">Participants</th>
  <th class="custom-text"></th>

{% elif page == "subject_available_surveys" %}
  <th class="custom-text">ID</th>
  <th class="custom-text">Title</th>
  <th class="custom-text">Invite Only</th>
  <th class="custom-text">Needs Consent Form</th>
  <th class="custom-text"></th>

{% elif page == "subject_completed_surveys" %}
  <th class="custom-text">ID</th>
  <th class="custom-text">Title</th>
  <th class="custom-text">Invite Only</th>
  <th class="custom-text">Needs Consent Form</th>
  <th class="custom-text"></th>

{% endif %}
