{% if page == "researcher_surveys" %}
  {% for survey in researcherSurveys %}
    <tr>
      <td class="custom-text">{{ survey.id }}</td>
      <td class="custom-text">{{ survey.title }}</td>
      <td class="custom-text">{{ survey.participants }}</td>
      <td class="custom-text">{{ survey.distribution }}</td>
      <td class="custom-text">{{ survey.consentneeded }}</td>
      <td><button class="btn btn-primary btn-block custom-button" onclick="location.href = '/viewresults/{{ survey.id }}';">View Results</button></td>
      <td><button class="btn btn-primary btn-block custom-button" onclick="location.href = '/surveyanalytics/{{ survey.id }}';">Run Analytics</button></td>
      <td><form method="POST" action="{% url "delete_survey" pk=survey.pk%}">
	  {% csrf_token %}
	  <input class="btn btn-primary btn-block custom-button" type="submit" value="Delete">
      </form></td>
</tr>
  {% endfor %}

{% elif page == "researcher_subjects" %}
  {% for subject in researcherSubjects %}
    <tr>
      <td class="custom-text">{{ subject.userID.id }}</td>
      <td class="custom-text">{{ subject.first_name|add:" "|add:subject.last_name }}</td>
      <td class="custom-text">{{ subject.age }}</td>
      <td class="custom-text">{{ subject.phone }}</td>
      <td class="custom-text">{{ subject.email }}</td>
      <td><button class="btn btn-primary btn-block custom-button" onclick = "location.href = '/invite/{{subject.userID.id}}';">Invite</button></td>
    </tr>
  {% endfor %}

{% elif page == "researcher_invite" %}
  {% include "QTSurvey/modules/researcher-invite-subject.html" %}

{% elif page == "subject_available_surveys" %}
  {% for survey in subjectAvailableSurveys %}
    <tr>
      <td class="custom-text">{{ survey.id }}</td>
      <td class="custom-text">{{ survey.title }}</td>
      <td class="custom-text">{{ survey.distribution }}</td>
      <td class="custom-text">{{ survey.consentneeded }}</td>
      <td><button class="btn btn-primary btn-block custom-button" onclick="location.href = '/takesurvey/{{ survey.id }}';">Take Survey</button></td>
    </tr>
  {% endfor %}

{% elif page == "subject_completed_surveys" %}
  {% for survey in subjectCompletedSurveys %}
    <tr>
      <td class="custom-text">{{ survey.id }}</td>
      <td class="custom-text">{{ survey.title }}</td>
      <td class="custom-text">{{ survey.distribution }}</td>
      <td class="custom-text">{{ survey.consentneeded }}</td>
      <td><button class="btn btn-primary btn-block custom-button" onclick="location.href = '/viewresponse/{{ survey.id }}';">My Response</button></td>
    </tr>
  {% endfor %}
{% elif page == "profile_view" %}
  <hr>
  <center><h1>User Info</h1></center>
  <hr>
  <center>
  {% for profilev in profileview|slice:":1" %}
    <ul  style="list-style-type:none">
      <li class="custom-text"><h2>ID :   {{ profilev.id }} </h2></td>
      <li class="custom-text"><h2>Username:   {{ profilev.username }} </h2></td>
      <li class="custom-text"><h2>Firs Name:   {{ profilev.first_name }} </h2></li>
      <li class="custom-text"><h2>Last Name:   {{ profilev.last_name }} </h2></li>
      <li class="custom-text"><h2>Email:   {{ profilev.email }} </h2></li>
      <li class="custom-text"><h2>DOB:   {{ profilev.dob }} </h2></li>
      <li class="custom-text"><h2>Phone:   {{ profilev.phone }} </h2></li>
   {% endfor %}
   {%for profile in profileview %}
      {% if profile.value != Null %}
      	<li class="custom-text"><h2>{{ profile.value }} :   {{ profile.response }} </h2></li>
      {% endif %}
      {% endfor %}
    </ul>
    </center>
{% endif %}
