<table class="table table-top-buffer">
  <thead style="background-color: #4c5c67">
    <!-- RESEARCHER: SURVEYS -->
    <tr>
      {% include "QTSurvey/modules/table_headers.html" with page=page %}
    </tr>
  </thead>
  <tbody>
    <!-- RESEARCHER: SURVEYS -->
    <tr>
      {% include "QTSurvey/modules/table_rows.html" with page=page %}
    </tr>
  </tbody>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
$("#deleteBtn").click(function(e) {
  console.log('Attempting to delete a survey');
  if (!confirm("Are you sure you'd like to delete this survey?")) e.preventDefault();
});
</script>
