<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% include "QTSurvey/base/head.html" %}
  </head>
  <body class="qt-body">
    <div class="container-fluid">
      <!-- HEADER -->
      {% block header %}
        {% include "QTSurvey/base/header.html" %}
      {% endblock %}

      <!-- LOGIN -->
      {% block login_box %}
      {% endblock %}

      <!-- REGISTRATION -->
      {% block registration_box %}
      {% endblock %}

      <!-- MAIN NAV BAR -->
      <!--
      block main_nav:
        * Navigation bar with cases for both user roles.
        * If user is a researcher -> include navbar-researcher.html with links populated
        * Else if user is a subject -> include navbar-subject.html with links populated
        * If no user is logged in, this will NOT display
      -->
      {% block main_nav %}
        {% if request.user.is_authenticated %}
          {% if request.session.researcher %}
            {% include "QTSurvey/modules/navbar-researcher.html" %}
          {% else %}
            {% include "QTSurvey/modules/navbar-subject.html" %}
          {% endif %}
        {% endif %}
      {% endblock %}

      <!-- MAIN TABLE -->
      {% block main_table %}
      {% endblock %}

      <!-- CREATE SURVEY -->
      {% block create_survey %}
      {% endblock %}

      <!-- TAKE SURVEY -->
      {% block take_survey %}
      {% endblock %}

      <!-- SUBJECT: VIEW SURVEY RESPONSE -->
      {% block view_survey_self_response %}
      {% endblock %}

      <!-- RESEARCHER: VIEW RESPONSES -->
      {% block researcher_view_responses %}
      {% endblock %}

      <!-- IRB CONSENT FORM -->
      {% block irb_consent_form %}
      {% endblock %}
    </div>

    <!-- BODY SCRIPTS -->
    {% include "QTSurvey/base/body-scripts.html" %}
  </body>
</html>
