{% load static %}
<div class="row">
  <!-- LOGO: Static on all pages -->
  <div class="col-md-11 qtitan-header" style="padding-top: 10px;"><a href="/"><img src="{% static 'QTSurvey/images/logo.png' %}"></a></div>
  <!-- User dropdown -->
  <!--
  block user_Main:
    * Dropdown for logged in user
    * The include statement is where the dropdown template will be rendered.
    * If a user is not logged in, the dropdown will not display
  -->
  {% block user_Main %}
    {% if request.user.is_authenticated %}
      {% include "QTSurvey/modules/user-dropdown.html" with user_firstName=request.user.first_name logout_url="/logout" %}
    {% endif %}
  {% endblock %}
</div>
