<!-- Inheritance from base template -->
{% extends "QTSurvey/base/base.html" %}
{% load static %}

{% block create_survey %}

<div class="take-survey-box">
  <form action="" method="POST" name="form-createsurvey">
    {% csrf_token  %}
    <p id="form-errors"></p>
    <label class="checkbox-inline"><input type="checkbox" style="width: 20px; height: 15px; padding: 1px;" class="form-control create-survey-form" id="consentneeded" value="consentneeded" name="consentneeded">IRB consent form required</label><br>
    <label class="checkbox-inline"><input type="checkbox" style=" background: red; width: 20px; height: 15px; padding: 1px;" class="form-control create-survey-form" id="distribution" value="distribution" name="distribution">Invitation only survey</label>
    <input type="text" class="form-control create-survey-form" id="title" placeholder="survey title" name="title" autocomplete="off">
    <input type="text" class="form-control create-survey-form" id="description" placeholder="survey description" name="description" autocomplete="off"></input><br>

    {{ surveyFieldsForm }}
    <button class="btn btn-primary btn-block custom-button registration-form" id="add-field">add new field</button><br>


    {{ customDemographicsForm }}
    <button class="btn btn-primary btn-block custom-button registration-form" id="add-demographicfield">add new field</button><br>
    <button type="submit" class="btn btn-primary btn-block custom-button registration-form" id="save-survey">save</button>

  </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'QTSurvey/dynamic-form-field.js' %}"></script>

{% endblock %}
