<!-- Inheritance from base template -->
{% extends "QTSurvey/base/base.html" %}
{% load static %}

{% block researcher_survey_analytics %}

<div class="survey-analysis">
  <center>
    <h2>Survey Analysis for: {{ survey.title }}</h2>
  </center>

	<br>
	<div class="row">
		<div class="col-md-6"><h3 align="left">Positive Concensus</h3></div>
	</div>

	<br>
	<div class="row">
		<div class="col-md-6"><h3 align="left">Negative Concensus</h3></div>
	</div>

	<br>
	<div class="row">
		<div class="col-md-6"><h3 align="left">Clusters</h3></div>
			{% for cluster in clusters %}
			<br>
			<div class="row"><h4 align="left"> {{ cluster.name }}</h4></div>
			<div class="row"><h5 align="left"> Most agreed responses:"</h5></div>
			<ul id="agreequestions">
				{% for agree_question in cluster.agree_questions %}	
					<li>{{ agree_question }}</li>
				{% endfor %}
			</ul>
			<div class="row"><h5 align="left">Most Disagreed responses:"</h5></div>
			<ul id="disagreequestions">
				{% for disagree_question in cluster.disagree_questions %}
					<li>{{ disagree_question }} </li>
				{% endfor %}
			</ul>
			{% endfor %}
	</div>
</div>

{% endblock %}

