<!-- Inheritance from base template -->
{% extends "QTSurvey/base/base.html" %}
{% load static %}

{% load chartit %}
{{ poschart|load_charts:"poschart" }}

{% block researcher_survey_analytics %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'QTSurvey/highcharts-theme.js' %}"></script>


<div class="survey-analysis">
  <center>
    <h2>Survey Analysis for: {{ survey.title }}</h2>
  </center>

	<br>
	<div class="row">
		<div class="col-md-6"><h3 align="left">Total Concensus</h3></div>
		<div id='container' style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		<script type='text/javascript'>

				// Apply the theme
				Highcharts.setOptions(Highcharts.theme);

				Highcharts.chart('container', {
						chart: {
								type: 'column'
						},
						title: {
								text: '{{ survey.title }} Consensus'
						},
						xAxis: {
								categories: ['Response Option Consensus']
						},
						credits: {
								enabled: false
						},
						series: [ 
						{% for key, value in totalConsensus %}
							{
							name: '{{ key }}',
							data: [{{ value }}]
							},
						{% endfor %}]
				});
		</script>
	</div>

	<br>
	<br>

	<div class="row">
		<div class="col-md-12"><h3>Clusters</h3></div>
		{% for cluster in clusters %}
		<div class="row">
			<div class="col-md-6"><h4>{{cluster.name}}</h4></div>
			<div class="col-md-6"><h4 align="right">Number in cluster: {{ cluster.Nodes|length }}</h4></div>
			<div class="col-md-12">
			<div id='{{ cluster.name }}-chart' style="min-width: 310px; height: 400px; margin: 0 auto"></div>

				<script type="text/javascript">
	
								// Apply the theme
								Highcharts.setOptions(Highcharts.theme);

								Highcharts.chart('{{ cluster.name }}-chart', {
										chart: {
												type: 'column'
										},
										title: {
												text: '{{ cluster.name }} Consensus'
										},
										xAxis: {
												categories: ['Response Option Consensus']
										},
										credits: {
												enabled: false
										},
										series: [ 
										{% for key, value in cluster.weights.items %}
											{
											name: '{{ key }}',
											data: [{{ value }}]
											},
										{% endfor %}]
								});
				
				</script>
			</div>
			<table class="table table-top-buffer">
				<thead style="background-color: #4c5c67">
				<th class="custom-text">ID</th>
					<th class="custom-text">Name</th>
					<th class="custom-text">Age</th>
					<th class="custom-text">Phone</th>
					<th class="custom-text">Email</th>
					<th class="custom-text"></th>
				</thead>
				<tbody>
				{% for node in cluster.Nodes %}
						<tr>
							<td class="custom-text">{{ node.participant.userID.id }}</td>
							<td class="custom-text">{{ node.participant.first_name|add:" "|add:node.participant.last_name }}</td>
							<td class="custom-text">{{ node.participant.age }}</td>
							<td class="custom-text">{{ node.participant.phone }}</td>
							<td class="custom-text">{{ node.participant.email }}</td>
						</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>


</div>

{% endblock %}

