{% if page == "researcher_surveys" %}
  <td class="custom-text">S_ID</td>
  <td class="custom-text">SURVEY_TITLE</td>
  <td class="custom-text">NUM_PART</td>
  <td class="custom-text">DIST_FLAG</td>
  <td><button class="btn btn-primary btn-block custom-button">Edit</button></td>
  <td><button class="btn btn-primary btn-block custom-button">Delete</button></td>

{% elif page == "researcher_analytics" %}
  <td class="custom-text">S_ID</td>
  <td class="custom-text">SURVEY_TITLE</td>
  <td class="custom-text">NUM_PART</td>
  <td class="custom-text">DIST_FLAG</td>
  <td><button class="btn btn-primary btn-block custom-button">View Results</button></td>
  <td><button class="btn btn-primary btn-block custom-button">Run Analytics</button></td>

{% elif page == "researcher_subjects" %}
  <td class="custom-text">SUBJ_ID</td>
  <td class="custom-text">SUBJECT_NAME</td>
  <td class="custom-text">SUBJ_AGE</td>
  <td class="custom-text">SUBJ_PHONE</td>
  <td class="custom-text">SUBJ_EMAIL</td>
  <td><button class="btn btn-primary btn-block custom-button">View Profile</button></td>
  <td><button class="btn btn-primary btn-block custom-button">Contact</button></td>
  <td><button class="btn btn-primary btn-block custom-button">Invite</button></td>

{% elif page == "subject_available_surveys" %}
  <td class="custom-text">S_ID</td>
  <td class="custom-text">SURVEY_TITLE</td>
  <td class="custom-text">NUM_PART</td>
  <td class="custom-text">DIST_FLAG</td>
  <td><button class="btn btn-primary btn-block custom-button">View Details</button></td>
  <td><button class="btn btn-primary btn-block custom-button">Take Survey</button></td>

{% elif page == "subject_completed_surveys" %}
  <td class="custom-text">S_ID</td>
  <td class="custom-text">SURVEY_TITLE</td>
  <td class="custom-text">NUM_PART</td>
  <td class="custom-text">DIST_FLAG</td>
  <td><button class="btn btn-primary btn-block custom-button">My Response</button></td>

{% endif %}
